<div class="carousel-wrapper">
    <button class="carousel-button left">
        <i class="fa-solid fa-chevron-left"></i>
    </button>

    <div class="carousel-container">
        <div class="carousel-track">
            {% for professor in professors %}
                <a href="{% url 'reviews:single_professor_reviews' professor.id %}" class="professor-card">
                    <div class="card-left">
                        <span>Avaliação</span>
                        <div class="rating-box {% if professor.avg_rate < 2 %}bg-fraca{% elif professor.avg_rate <= 3 %}bg-media{% else %}bg-alta{% endif %}">
                            <p>{{ professor.avg_rate|floatformat:1 }}</p>
                        </div>
                        <span>{{ professor.total_reviews }} avaliações</span>
                    </div>

                    <div class="card-divider"></div>

                    <div class="card-right">
                        <h3>{{ professor.name }}</h3>
                        <h2>{{ professor.departamento }}</h2>
                        <h1>{{ professor.universidade.nome }}</h1>
                        <p>{{ professor.total_subjects }} disciplinas | {{ professor.total_reviews }} comentários</p>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>

    <button class="carousel-button right">
        <i class="fa-solid fa-chevron-right"></i>
    </button>
</div>
