<div class="carousel-wrapper">
    <button class="carousel-button left">
        <i class="fa-solid fa-chevron-left"></i>
    </button>

    <div class="carousel-container">
        <div class="carousel-track">
            <!-- Cartões dos professores aqui -->
            <div class="professor-card">
                <div class="card-left">
                    <span>Avaliação</span>
                    <div class="rating-box">
                        <p>4.6</p>
                    </div>
                    <span>50 avaliações</span>
                </div>

                <div class="card-divider"></div>

                <div class="card-right">
                    <h3>Marco Túlio de Oliveira Valente</h3>
                    <h2>Engenharia Elétrica</h2>
                    <h1>Universidade Federal de Minas Gerais</h1>
                    <p>2 disciplinas | 5 comentários</p>
                </div>
            </div>

            <div class="professor-card">
                <div class="card-left">
                    <span>Avaliação</span>
                    <div class="rating-box">
                        <p>4.6</p>
                    </div>
                    <span>50 avaliações</span>
                </div>

                <div class="card-divider"></div>

                <div class="card-right">
                    <h3>Marco Túlio de Oliveira Valente</h3>
                    <h2>Engenharia Elétrica</h2>
                    <h1>Universidade Federal de Minas Gerais</h1>
                    <p>2 disciplinas | 5 comentários</p>
                </div>
            </div>

            <div class="professor-card">
                <div class="card-left">
                    <span>Avaliação</span>
                    <div class="rating-box">
                        <p>4.6</p>
                    </div>
                    <span>50 avaliações</span>
                </div>

                <div class="card-divider"></div>

                <div class="card-right">
                    <h3>Marco Túlio de Oliveira Valente</h3>
                    <h2>Engenharia Elétrica</h2>
                    <h1>Universidade Federal de Minas Gerais</h1>
                    <p>2 disciplinas | 5 comentários</p>
                </div>
            </div>

            <div class="professor-card">
                <div class="card-left">
                    <span>Avaliação</span>
                    <div class="rating-box">
                        <p>4.6</p>
                    </div>
                    <span>50 avaliações</span>
                </div>

                <div class="card-divider"></div>

                <div class="card-right">
                    <h3>Marco Túlio de Oliveira Valente</h3>
                    <h2>Engenharia Elétrica</h2>
                    <h1>Universidade Federal de Minas Gerais</h1>
                    <p>2 disciplinas | 5 comentários</p>
                </div>
            </div>

            <div class="professor-card">
                <div class="card-left">
                    <span>Avaliação</span>
                    <div class="rating-box">
                        <p>4.6</p>
                    </div>
                    <span>50 avaliações</span>
                </div>

                <div class="card-divider"></div>

                <div class="card-right">
                    <h3>Marco Túlio de Oliveira Valente</h3>
                    <h2>Engenharia Elétrica</h2>
                    <h1>Universidade Federal de Minas Gerais</h1>
                    <p>2 disciplinas | 5 comentários</p>
                </div>
            </div>

            <div class="professor-card">
                <div class="card-left">
                    <span>Avaliação</span>
                    <div class="rating-box">
                        <p>4.6</p>
                    </div>
                    <span>50 avaliações</span>
                </div>

                <div class="card-divider"></div>

                <div class="card-right">
                    <h3>Marco Túlio de Oliveira Valente</h3>
                    <h2>Engenharia Elétrica</h2>
                    <h1>Universidade Federal de Minas Gerais</h1>
                    <p>2 disciplinas | 5 comentários</p>
                </div>
            </div>

            <div class="professor-card">
                <div class="card-left">
                    <span>Avaliação</span>
                    <div class="rating-box">
                        <p>4.6</p>
                    </div>
                    <span>50 avaliações</span>
                </div>

                <div class="card-divider"></div>

                <div class="card-right">
                    <h3>Marco Túlio de Oliveira Valente</h3>
                    <h2>Engenharia Elétrica</h2>
                    <h1>Universidade Federal de Minas Gerais</h1>
                    <p>2 disciplinas | 5 comentários</p>
                </div>
            </div>

            <div class="professor-card">
                <div class="card-left">
                    <span>Avaliação</span>
                    <div class="rating-box">
                        <p>4.6</p>
                    </div>
                    <span>50 avaliações</span>
                </div>

                <div class="card-divider"></div>

                <div class="card-right">
                    <h3>Marco Túlio de Oliveira Valente</h3>
                    <h2>Engenharia Elétrica</h2>
                    <h1>Universidade Federal de Minas Gerais</h1>
                    <p>2 disciplinas | 5 comentários</p>
                </div>
            </div>

            <div class="professor-card">
                <div class="card-left">
                    <span>Avaliação</span>
                    <div class="rating-box">
                        <p>4.6</p>
                    </div>
                    <span>50 avaliações</span>
                </div>

                <div class="card-divider"></div>

                <div class="card-right">
                    <h3>Marco Túlio de Oliveira Valente</h3>
                    <h2>Engenharia Elétrica</h2>
                    <h1>Universidade Federal de Minas Gerais</h1>
                    <p>2 disciplinas | 5 comentários</p>
                </div>
            </div>
            <!-- Adicione mais cartões aqui -->

        </div>
    </div>

    <button class="carousel-button right">
        <i class="fa-solid fa-chevron-right"></i>
    </button>
</div>