{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'universities/example.css' %}">
    <title>Professors</title>
</head>
<body>
    <header>
        <h1>Professores</h1>
        <nav>
            <!-- Button Home -->
            <ul>
                <li><a href="{% url 'reviews:all_reviews' %}">All Reviews</a></li>

            </ul>
        </nav>
    </header>
    <!-- Display a list of all professors. They have name, departamento e universidade_id -->
    <h1>Lista de todos Professores</h1>
    <ul>
        {% for professor in professors %}
            <li>
                <!-- Add link to their reviews -->
                <strong>Name:</strong> <a href="{% url 'reviews:professor_reviews' professor.id %}">{{ professor.name }}</a><br>
                <strong>Department:</strong> {{ professor.departamento }}<br>
                <strong>University ID:</strong> {{ professor.universidade_id }}<br>
            </li>
        {% empty %}
            <li>No professors found.</li>
        {% endfor %}
</body>
</html>