{% load static %}
{# --- Seção de Interatividade (Filtros, Ordenação, Botão Adicionar) --- #}
<section class="interactivity-area">
     {# O FORM envolve os elementos que enviam dados para a view via GET #}
     {# O JS interceptará o submit e fará uma requisição AJAX #}
     <form method="get" action="{% url 'reviews:professor_reviews' professor.id %}">
         <div class="filter-sort-area">
             <div class="filter-options">
                 <label for="filter-disciplina">Filtrar por Disciplina:</label>
                 <select id="filter-disciplina" name="disciplina">
                     <option value="" {% if current_disciplina == '' %}selected{% endif %}>Todas as Disciplinas</option>
                     {% for disc in disciplinas %}
                         <option value="{{ disc.id }}" {% if current_disciplina|slugify == disc.id|slugify %}selected{% endif %}>{{ disc.nome }}</option>
                     {% endfor %}
                 </select>
                 <label for="filter-periodo">Filtrar por Período:</label>
                 <select id="filter-periodo" name="periodo">
                     <option value="" {% if current_periodo == '' %}selected{% endif %}>Todos os Períodos</option>
                      {% for per in periodos %}
                          <option value="{{ per }}" {% if current_periodo == per %}selected{% endif %}>{{ per }}</option>
                      {% endfor %}
                 </select>
             </div>
             <div class="sort-options">
                  <label for="sort-by">Ordenar por:</label>
                 <select id="sort-by" name="ordenar">
                     <option value="newest" {% if current_order == 'newest' %}selected{% endif %}>Mais Recente</option>
                     <option value="quality_desc" {% if current_order == 'quality_desc' %}selected{% endif %}>Qualidade (Maior)</option>
                      <option value="quality_asc" {% if current_order == 'quality_asc' %}selected{% endif %}>Qualidade (Menor)</option>
                     <option value="difficulty_desc" {% if current_order == 'difficulty_desc' %}selected{% endif %}>Dificuldade (Maior)</option>
                      <option value="difficulty_asc" {% if current_order == 'difficulty_asc' %}selected{% endif %}>Dificuldade (Menor)</option>
                      <option value="grade_desc" {% if current_order == 'grade_desc' %}selected{% endif %}>Nota (Maior)</option>
                      <option value="grade_asc" {% if current_order == 'grade_asc' %}selected{% endif %}>Nota (Menor)</option>
                 </select>
             </div>
              {# Botão de submissão do formulário (apenas ícone) #}
              <button type="submit" class="btn btn-secondary"><i class="fas fa-filter"></i></button>
         </div>
     </form>
</section>